@use "./mixin.scss" as mixin;
@use "./variables.scss" as variables;
@use "./common.scss" as common;
//importando fonte  
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

@keyframes animacaoClick {
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    0% {
        transform: scale(1);
    }
}

.container {
    @extend .noselect;
    background-color: variables.$color_white;
    width: 100%;
    padding: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: background-color 0.2s linear;
    text-align: center;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    & p {
        @include mixin.breakpoint('md') {
            font-size: 1.2rem;
        }
    }

    &.container-resposta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        color: variables.$color_primary;
        border: 5px solid variables.$color_primary;
        cursor: pointer;
        flex-grow: 10;
        text-align: center;

        & h2 {
            font-size: 1.5rem;


            @include mixin.breakpoint('sm') {
                font-size: 0.5rem;
            }

            @include mixin.breakpoint('md') {
                font-size: 1rem;
            }

            @include mixin.breakpoint('lg') {
                font-size: 1.5rem;
            }
        }

        &:hover {
            background-color: variables.$color_primary;
            color: variables.$color_white;
        }

        &.clicked {
            background-color: variables.$color_primary;
            color: variables.$color_white;
            border-width: 4px;
            border-color: darken(variables.$color_primary, 35%);

            &:hover {
                background-color: variables.$color_primary;
            }
        }

        &.animacao-click {
            animation: animacaoClick 0.2s;
            background-color: variables.$color_primary;
        }
    }

    &.container-questaoResultado {
        flex-direction: row;
        justify-content: center;
        border: 5px solid variables.$color_primary;
        margin: 0;
        margin-bottom: 10px;
        cursor: pointer;

        & h2 {
            font-size: 1.5rem;
            margin: 10px 0;

            @include mixin.breakpoint('sm') {
                font-size: 0.5rem;
            }

            @include mixin.breakpoint('md') {
                font-size: 1rem;
            }

            @include mixin.breakpoint('lg') {
                font-size: 1.5rem;
            }
        }

        &.acerto {
            background-color: variables.$color_white;
            color: variables.$color_secondary;
            border: 5px solid variables.$color_secondary;
        }

        &.erro {
            background-color: variables.$color_white;
            color: variables.$color_quaternary;
            border: 5px solid variables.$color_quaternary;
        }
    }
}

.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}