@use "./variables.scss" as variables;
@use "./mixin.scss" as mixin;
@use "./common.scss" as common;

body {
    background-color: variables.$color_off_white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    @extend .noselect;
    background-color: variables.$color_primary;
    padding: 5px;
    text-align: center;
    display: flex; // Adicione esta linha
    align-items: center;
    justify-content: center;
    width: 80%;
    flex-grow: 0.5;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;

    & h1 {
        color: white;
        font-size: 3em;
        font-family: 'Roboto Slab', serif;
        @include mixin.breakpoint('sm'){
            font-size:1rem;
        }
        @include mixin.breakpoint('md') {
            font-size: 1.5rem;
        }

        @include mixin.breakpoint('lg') {
            font-size: 2.5rem;
        }
    }
}

main {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 11;
    margin: 10px 0;
}