$color_off_white: #F5F5F5;
$color_black: #000000;
$color_grey: #9B9B9B;
$color_white: #FFFFFF;
$color_primary: #4A90E2;
$color_secondary: #7ED321;
$color_tertiary: #FFD700;
$text_color_primary: #4A4A4A;
$text_color_secondary: #9B9B9B;
